<%- include("head.partial.ejs") %>
<main>
  <h1><%= title %></h1>
  <a href="/edit/<%= storyset.slug %>" class="action-link">Edytuj katergorię</a>
  <% if (storyset.stories && storyset.stories.length > 0) { %>
    <ul id="stories">
      <% storyset.stories.forEach(function(story){ %>
      <li>
        <%= story.title %> - <%= story.desc %>
      </li>
      <% }) %>
    </ul>
  <% } else { %>
    <p>W tym zestawie nie ma żadnych historyjek. Dodaj nowe poniżej.</p>
  <% } %>
  <div>
    <h3>Nowa Historyjka</h3>
    <%- include("forms/new_story.ejs") %>
  </div>
</main>

<%- include("foot.partial.ejs") %>
