<form class="story-action" action="/edit/<%= category.id %>/<%= story.id %>" method="POST">
    <input type="text" name="title" id="story-<%= story.id %>-title" value="<%= story.title %>" required minlength="1" maxlength="500"> 
    -
    <input type="text" name="desc" id="story-<%= story.id %>-desc" value="<%= story.desc %>" required minlength="1" maxlength="500"> 
    <button>Zapisz</button>
</form>