<form class="story-action" action="/edit/<%= storyset.slug %>/<%= story.id %>" method="POST">
    <input type="text" name="tytul" id="story-<%= story.id %>-tytul" value="<%= story.tytul %>" required minlength="1" maxlength="500"> 
    -
    <input type="text" name="opis" id="story-<%= story.id %>-opis" value="<%= story.opis %>" required minlength="1" maxlength="500"> 
    <input type="hidden" name="csrf_token" id="form_csrf_token" value="<%-session.csrf_token%>">
    <button>Zapisz</button>
</form>