<!DOCTYPE html>
<html data-theme="<%- app.theme %>" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="A site for short stories">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <% if (app.theme === "discoo") { %>
      <img width="100%" height="100%" src="/css/strobe_lights.gif" alt="" class="disco">
    <% } %>
    <div class="container">
      <audio id="disco-audio" src="/OIIAIOIIIAI.mp3" loop preload="auto"></audio>
      <div class="settings">
        <section class="controls">
          <a href="/settings/toggle-theme?next=<%- encodeURIComponent(page) %>">
            <% if (app.theme === "dark") { %>
              Jasny | <strong>Ciemny</strong> | Discoo 
            <% } else if (app.theme === "discoo") { %>
              Jasny | Ciemny | <strong>Discoo</strong>
            <% } else { %>
              <strong>Jasny</strong> | Ciemny | Discoo
            <% } %>
          </a>
        </section>
        <button id="disco-play-button" type="button" hidden>Włącz disco</button>
      </div>
      <header>
        
      <nav>
          <% if (page !== "/") { %>
            <% if (typeof story !== "undefined" && story && typeof storyset !== "undefined" && storyset) { %>
              <a href="/view/<%= storyset.slug %>">Powrót do zestawu historyjek</a>
            <% } else if (typeof storyset !== "undefined" && storyset) { %>
              <a href="/">Powrót do listy zestawów</a>
            <% } else { %>
              <a href="/">Powrót do listy zestawów</a>
            <% } %>
          <% } %>
      </nav>
      <section class="controls">
        <% if (!page.startsWith("/auth/")) { %> 
          <% if (user) { %>
            <span><%= user.username %></span>
            <a href="/auth/logout">Wyloguj się</a>
          <% } else { %>
            <a href="/auth/login">Zaloguj się</a>
            <a href="/auth/signup">Zarejestruj się</a>
          <% } %>
        <% } %>
      </section>
      </header>