<%- include("head.partial.ejs") %>
<main>
  <h1><%= title %></h1>
  <div class="storyset-author">Autor: <%= storyset.author.username %></div>
  <% if (storyset.editableBy(user)) { %>
  <a href="/edit/<%= storyset.slug %>" class="edit-link">Edytuj kategorię</a>
   <% } %>
  <% if (storyset.stories && storyset.stories.length > 0) { %>
    <ul id="stories">
      <% storyset.stories.forEach(function(story){ %>
      <li>
        <h2 class="story-title"><a href="/view/<%= storyset.slug %>/<%=story.id%>"> <%=story.tytul%></a></h2>
      </li>
      <% }) %>
    </ul>
  <% } else { %>
    <p>W tym zestawie nie ma żadnych historyjek. Dodaj nowe poniżej.</p>
  <% } %>
  <% if (storyset.editableBy(user)) { %>
  <div>
    <h2>Nowa Historyjka</h2>
     <b><h3><a class="edit-link" href="/add_story/<%= storyset.slug %>">Stwórz nową historyjkę</a></h3></b>
  </div>
  <% } %>
</main>

<%- include("foot.partial.ejs") %>
